/* RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 24px;
}

/* Phần BANNER với Backgroung-img */

#banner {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  position: relative;
}

.banner-title {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

/* Thanh điều hướng */

#nav-bar {
  padding-top: 0;
  padding-bottom: 0;
}

.navborder-right {
  border-right: 1px solid #adb5bd;
}

.navborder-left {
  border-left: 1px solid #adb5bd;
}

#navbar-link {
  margin-right: 15em;
}

#nav-bar--mb {
  justify-content: center;
}

.img__navbar {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 150px;
  height: 150px;
}

/* Mục thông tin cá nhân và mục tiêu nghề nghiệp */

#about,
#certificate,
#footer {
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

#target {
  padding: 32px;
}

#personal-info {
  padding: 32px;
  background-color: #ededed;
}

.personal-info--icon > i {
  font-size: 24px;
  margin: 0 12px;
}

/* 6 border-job */

#job-info {
  margin: 32px auto;
}

.job-info--item {
  border: 1px solid #adb5bd;
  padding: 16px 8px;
}

.job--icon {
  padding: 0 44px;
}

#job-info h1 {
  font-size: 32px;
  padding: 16px 0;
}

#job-info h2 {
  font-size: 20px;
}

#job-info p {
  font-size: 16px;
}

.job--list span {
  display: inline-block;
  height: 3px;
  width: 45px;
  background: #ccc;
  margin: 18px 12px;
}

.job--list i {
  font-size: 20px;
  padding: 6px;
  border: 1px solid #199cdb;
  border-radius: 50%;
  margin-bottom: 12px;
  /* width: 32px;
  height: 32px; */
}

.job--list li {
  margin: 12px 12px;
}

ul {
  list-style: none;
}

#personal-info ul,
#job-info ul {
  padding-left: 0;
}

.personal-info--icon i,
.job--list i,
.footer-list--icon i,
.navbar i {
  color: #199cdb;
}

/* Phần chứng chỉ và giải thưởng */

.mq-style2--item {
  padding: 24px 24px 24px 0;
  font-size: 16px;
}

.mq-style2--item h3 {
  font-weight: 500;
  font-size: 20px;
}

.mq-style2--item p {
  font-size: 14px;
}

.certificate--img img {
  width: 100%;
}

#mq-style2--item {
  border-bottom: 1px solid #d6c08d;
}

#mq-style2--item2 {
  border-bottom: 1px solid #d6c08d;
}

#certificate--img2 {
  border-left: 1px solid #d6c08d;
}

/* Phần các dự án đã tham gia */

.project--info a {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #adb5bd;
  padding-left: 4px;
}

.project--img img {
  width: 100%;
}

.project--info {
  border: 1px solid #adb5bd;
}

.project-list li {
  margin-top: 12px;
}

.project-table {
  border: 1px solid #adb5bd;
  font-size: 16px;
}

.project-table th {
  width: 96px;
}

.project-table .addition td {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Phần chân trang */

.footer-list--icon {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  height: 10vh;
  font-size: 18px;
  margin: 84px auto 0 auto;
}

.footer-list--icon i {
  font-size: 30px;
}

.footer-list--icon a {
  text-decoration: none;
  color: #2d2d2d;
}

/* MEDIA QUERIES */

/* TABLET from 680px to 992px */
@media (max-width: 992px) and (min-width: 680px) {
  #banner {
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .img__navbar {
    display: none;
  }

  #navbar-link {
    margin-right: 3em;
  }

  #job-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #job-info .job-info--item {
    width: 100%;
  }

  #mq-style--item {
    grid-area: 1 / 2 / 2 / -1;
  }

  #mq-style--item2 {
    grid-area: 2 / 2 / 3 / -1;
  }

  #mq-style--item3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #mq-style--item4 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .mq-style2--item {
    flex-direction: column;
  }

  .certificate--img img {
    width: 100%;
  }

  .cer2 {
    border-left: 1px solid #d6c08d;
  }

  .project--img img {
    width: 100%;
  }

  .project-list {
    flex-wrap: wrap;
  }

  .project-table .addition td {
    padding-top: 32px;
    padding-bottom: 38px;
  }
}

/* MOBILE <680px */
@media (max-width: 679px) {
  #banner {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  #nav-bar--mb {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .img__navbar {
    display: none;
  }

  .navborder-left {
    border: none;
  }

  .navborder-right {
    border: none;
  }

  #target,
  #personal-info {
    margin: 0;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }

  #job-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .job-info--item {
    width: 100% !important;
  }

  #mq-style--item3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #mq-style--item {
    grid-area: 4 / 1 / 5 / 2;
  }

  #mq-style--item2 {
    grid-area: 5 / 1 / 6 / 2;
  }

  #mq-style--item4 {
    grid-area: 3 / 1 / 4 /2;
  }

  .certificate--img img {
    width: 100%;
  }

  #mq-style2 {
    flex-direction: column;
  }

  #mq-style2 > .mq-style2--item {
    flex-direction: column;
    width: 100%;
  }

  #mq-style2--item {
    border-bottom: 1px solid #dc3545;
  }

  #mq-style2--item2 {
    border-bottom: 1px solid #dc3545;
  }

  .project-items {
    width: 100% !important;
  }

  .footer-list--icon a {
    display: none;
  }
}
